* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    flex-shrink: 0;
}

img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

nav {
    font-size: 12px;
    text-transform: capitalize;
}

